@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    font-family: "Kumbh Sans", sans-serif;
  }

  main {
    background-image: url("assets/images/bg-pattern-top.svg"),
      url("assets/images/bg-pattern-bottom.svg");
    background-position: top -50vh left -50%, bottom -50vh right -50%;
    background-repeat: no-repeat, no-repeat;
    /* background-size: contain; */
  }
}
